## Задача:

Напиши функцию, которая принимает DataFrame со столбцами `month`, `country`, `salary` (месяц, страна, зарплата соответсвенно) и выводит DataFrame с ключем (month) и столбцами `Страна 1`, `Страна 2`, `Страна 3`... , в котором указана средняя зарплата в данные месяц в соответсвующей стране.

**Пример:**

Ввод:

    month       |   country     |   salary
    ---------------------------------------
    '2023-01'   |   'UK'        |   1000
    '2023-02'   |   'USA'       |   1500
    '2023-02'   |   'USA'       |   1000
    '2023-01'   |   'Hong Kong' |   1250
    '2023-02'   |   'Hong Kong' |   1550

Вывод:

    month       |   UK      |   USA     | 'Hong Kong'
    ------------------------------------------------
    '2023-01'   |   1000    |   NaN     |   1250
    '2023-02'   |   NaN     |   1250    |   1550

In [ ]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    "month" : ['2023-01', '2023-02', '2023-02', '2023-01', '2023-02'],
    "country" : ["UK", "USA", "USA", "Hong Kong", "Hong Kong"],
    "salary" : [1000, 1500, 1000, 1250, 1550]
})

months = pd.unique(data['month'])
print(months)
data_array = np.array(data)
d  = dict()
for i in range(len(data_array)):
  if data_array[0] in

def solve(data) -> pd.DataFrame:

  return None

solve(data)

['2023-01' '2023-02']
[['2023-01' 'UK' 1000]
 ['2023-02' 'USA' 1500]
 ['2023-02' 'USA' 1000]
 ['2023-01' 'Hong Kong' 1250]
 ['2023-02' 'Hong Kong' 1550]]